.container {
  min-width: 600px;
  margin-left: 25px;
  box-sizing: border-box;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
}

.chosenIngridients {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin-top: 0px;
}

.topIngridinet {
  display: flex;
  list-style-type: none;
  margin-bottom: 16px;
}

.bottomIngridinet {
  list-style-type: none;
  margin-bottom: 16px;
}

.draggableIngridinetContainer {

  /* Для вынесения кастомного скролла правее списка ингридиентов */
  position: relative;
  left: 16px;

  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
  /* min-height: 400px; */
  max-height: 48vh;
  overflow-y: scroll;
}

.draggableIngridinetContainer::-webkit-scrollbar {
  width: 8px;
  left: -30px;
}
.draggableIngridinetContainer::-webkit-scrollbar-track {
  background: #2F2F37;
}
.draggableIngridinetContainer::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.draggableIngridinetContainer > div {
  margin-bottom: 16px;
}

.draggableItime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.draggableButton {
  width: 25px;
  height: 25px;

  background-color: transparent;
  background-image: url(/src/images/buttonDruggableDots.svg);
  background-repeat: no-repeat;
  background-position: 50% center;

  cursor: move;
  border: none;

  margin-right: 8px;
}

.totalBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.loader {
  width: 100%;
  height: 100%;
  background-color: #1c1c21;
  opacity: 0.8;
  z-index: 9;
  position: absolute;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}