.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.item:last-child {
    margin-bottom: 0;
}

.itemData {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C21;
    border-radius: 40px;
}

.itemDataBunTop {
    composes: itemData;
    margin-right: 15px;
    width: 90%;
    border-radius: 88px 88px 40px 40px;
}

.itemDataBunBottom {
    composes: itemData;
    margin-right: 15px;
    width: 90%;
    border-radius: 40px 40px 88px 88px;
}

.image {
    width: 80px;
    height: 40px;
}

.name {
    width: 40%;
    font-size: 18px;
    line-height: 24px;
}

.price {
    display: flex;
    align-items: center;
}

.priceValue {
    margin: 0 9px 0 0;
    font-size: 28px;
    line-height: 24px;
}