.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navColumn {
    width: 35%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 16px;
}

.navLink {
    text-decoration: none;    
    color: #8585ad;
}

.activeNavLink {
    color: #f2f2f3;
}

.navText {
    font-size: 16px;
    line-height: 24px;
}

.profileColumn {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profileInfo {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
