.wrap {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 120px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-height: 600px;
    max-height: 75vh;
}


.buttonWrap {
  display: flex;
  flex-direction: row-reverse;
}