.section {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 30%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form {
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 253px;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    border-radius: 64px;
    color: #f2f2f3;
    text-align: center;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
}

.link {
    text-align: center;
    color: #4c4cff;
    text-decoration: none;
}

.hideInput {
    display: none;
}