.container {
    max-width: 640px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 70%;
    height: 50%;
}

.properties {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property {
    display: flex;
    flex-direction: column;
    align-items: center;
}