.ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    padding: 0 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 272px;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

.card__img {
    padding: 0 16px;
}

.card__price {
    display: flex;
}

.tabs {
    display: flex;
}

.ingredients_scroll {
    overflow-y: auto;
    height: calc(100vh - 360px);
    min-height: 300px;
}