.item {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image {
    width: 90%;
}

.price {
    display: flex;
    align-items: center;
}

.priceValue {
    margin: 0 9px 0 0;
    font-size: 28px;
    line-height: 24px;
}

.name {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}