.header {
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    max-width: 1920px;
}

.menu {
    display: flex;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    composes: menu__item;
}